{% extends "Defaults/Views/layout.html" %}

{% block content_fluid %}
    <div class="mt-4">
        <div class="d-flex justify-content-center">
            <div class="me-2">
                <label class="control-label col-form-label">Day:</label>
            </div>
            <div>
                <div class="input-group col-sm-2" id="datepicker" data-unix="{{ date }}">
                    <input
                        type="text"
                        name="interval"
                        class="form-control cursor-pointer"
                        value="{{ date_formatted }}"
                        placeholder="Date interval"
                    >
                    <div class="input-group-text"><span class="far fa-calendar-alt"></span></div>
                </div>
            </div>
            <div class="ms-4">
                <select class="form-select" name="timezone" id="timezone">
                    {% for timezone in list_of_timezones %}
                        <option value="{{ timezone }}"{{ timezone == session.timezone  ? ' selected="selected"' }}>{{ timezone }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="ms-4">
                <a href="{{ controller_url }}/export/{{ date_formatted }}" class="btn btn-primary">Export</a>
            </div>
        </div>
    </div>

    {% for scopeKey, scopeItems in timeStats %}
        <div class="row">
            <h3 class="hr-b mt-4 mb-3">{{ scopeKey }}</h3>

            <div class="col-3">
                <div class="card">
                    <div class="card-header">
                        <h4>Time stats</h4>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Time</th>
                                    <th>Type</th>
                                    <th>Count</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in scopeItems %}
                                    <tr class="
                                            time-type-{{ item.type }}
                                            {{ item.type == 'day' ? ' fs-3' }}
                                            {{ item.type == 'hour' ? ' fs-5 cursor-pointer' }}
                                            {{ item.type == 'minute' ? ' table-active d-none' }}
                                            {{ item.type == 'second' ? ' text-danger' }}
                                    ">
                                        <td>{{ item.start_time_formatted }}</td>
                                        <td>{{ item.type }}</td>
                                        <td>{{ item.count }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>Api calls</h4>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Service</th>
                                    <th>Context</th>
                                    <th>Method</th>
                                    <th>Success</th>
                                    <th>Retries</th>
                                    <th>Failed</th>
                                    <th>Total</th>
                                    <th>AVG Success duration</th>
                                    <th>Total retries duration</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in apiCallStats[scopeKey] %}
                                    <tr>
                                        <td>{{ item.service }}</td>
                                        <td>{{ item.context_name }}</td>
                                        <td title="{{ item.endpoint_url }}">{{ item.method_name }}</td>
                                        <td>{{ item.succeeded }}</td>
                                        <td>{{ item.retries }}</td>
                                        <td>{{ item.failed }}</td>
                                        <td>{{ item.count }}</td>
                                        <td>{{ item.avg_duration ?? 0 }}</td>
                                        <td>{{ item.retry_seconds ?? 0 }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <script>
        var onReady = typeof onReady === 'undefined' ? [] : onReady;
        onReady.push(function () {
            new statsModule.ApiStats.Page({
                methodUrl: '{{ method_url }}',
                moduleUrl: '{{ module_url }}',
                controllerUrl: '{{ controller_url }}'
            });
        });
    </script>
{% endblock %}
