<!-- Right Section -->
<div class="d-flex align-items-center">
    <!-- Menu -->
    <div class="d-none d-lg-block">
        <ul class="nav-main nav-main-horizontal nav-main-hover">
            {{ pre_menu_content|raw }}

            {% for item in menu_items %}
            <li class="nav-item{{ item.active == true ? ' menu-open' : '' }} {{ item.nav_class }}">
                {% if item.url %}
                <a href="{{ item.url }}"
                    class="nav-link{{ item.url == '#' ? ' prevent-default' }}{{ item.active == true ? ' active' }}">
                    {% if item.before_icon %}
                    <i class="nav-icon {{ item.before_icon }}"></i>
                    {% endif %}

                    <span>{{ item.title }}</span>

                    {% if item.after_icon %}
                    <i class="nav-icon {{ item.after_icon }}"></i>
                    {% endif %}

                    {% if item.end_icon %}
                    <i class="end {{ item.end_icon }}"></i>
                    {% endif %}
                </a>
                {% endif %}

                {% if item.contents %}
                {{ item.contents|raw }}
                {% endif %}
            </li>
            {% endfor %}

            {{ post_menu_content|raw }}
        </ul>
    </div>
    <!-- END Menu -->

    <!-- Toggle Sidebar -->
    <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
    {# <button type="button" class="btn btn-sm btn-alt-secondary d-lg-none ms-1" data-toggle="layout" data-action="sidebar_toggle">
        <i class="fa fa-fw fa-bars"></i>
    </button> #}
    <!-- END Toggle Sidebar -->
</div>
<!-- END Right Section -->
